* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merienda", sans-serif;
  text-transform: capitalize;
}

.card {
  width: 100%;
  height: 900px;
  background: linear-gradient(100deg, #7b00fe, #e609fa);
  color: #fff;
  padding: 40px 35px;

}

.box {
  width: 350px;
  /* height: 150px; */
  background-color: white;
  color: black;
  margin: 50px auto;
  border-radius: 10px;
  padding: 20px 10px;


}

.head {
  display: flex;
}

.box input {
  /* flex: 1; */
  width: 245px;
  border-radius: 30px 0 0 30px;
  height: 40px;
  /* position: relative; */
  padding: 0 10px;
  background-color: rgb(234, 230, 230);
  border: none;
}

.box button {
  position: absolute;
  width: 90px;
  border-radius: 0 30px 30px 0;
  height: 40px;
  background-color: rgb(255, 81, 0);
  color: white;
  border: none;
  cursor: pointer;
  right: auto;
}

#taskList {
  line-height: 2;
  margin-top: 20px;
  cursor: pointer;
}

.taskItems {
  color:blue;
  cursor: pointer;
  position: relative;
  line-height: 2;
}
.taskItems button{
  position: absolute;
  right: 0;
  height: 30px;
  width: 50px;
  border-radius: 15px;
}
.checked{
  text-decoration: line-through;
}
.taskList p::before{
  content: '* ';
}