* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  background: rgb(31, 38, 70);
  color: #000000;
  margin-top: 70px;
}

.form-control {
  width: 400px;
  padding: 40px 30px;
  text-align: center;
  
}

.form-control div {
  margin-top: 20px;
}

.inputBox {
  width: 70%;
  height: 40px;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  background-color: #fcfcfc;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
}

.textArea {
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  background-color: #fcfcfc;
  border-radius: 5px;
  width: 77%;
  padding: 5px;

}

.lables {
  width: 80px;
  /* font-size: 20px; */
}

.btn {
  width: 150px;
  margin-top: 20px;
}
.form-control svg{
  cursor: pointer;
  width: 60px;
  border-radius: 40%;
  background-color: rgb(247, 246, 246);
  position: absolute;
  top: 5%;
  left: 45%;
}
.myForm div{
  position: relative;
}
/* span{
position: absolute;
right: 5px;
color: lightcoral;
} */
 span{
  display: block;
  text-align: end;
 }
