* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  background: #191919;
  color: #000000;
  margin-top: 70px;
}
.gallery{
  width: 900px;
  display: flex;
  overflow-x: scroll;
}
.gallery div{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}
.gallery div img{
  width: 100%;
  filter: grayscale(100);
  transform: scale(1);
  transition: transform 0.5s ease;
}
.gallery::-webkit-scrollbar{
  display: none;
}
.gallery-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}
#backBtn , #nextBtn {
  width: 50px;
  cursor: pointer;
  margin: 40px;
}
.gallery div img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
  transition: transform 0.5s ease;
}