*{
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  background: #bcb8bf;
  color: #000000;
  margin-top: 50px;
}
.toastBox{
  width: 300px;
  height: 50px;
  background-color: white;
  color: #111;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  border-radius: 5px;
}