*{
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  background: #bcb8bf;
  color: #000000;
  margin-top: 50px;
}
.toastBox{
  width: 300px;
  height: auto;
  background-color: white;
  color: #111;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  border-radius: 5px;
}
.success i{
  color: green;
}
.error i{
  color: red;
}
.invalid i{
  color: orange;
}
.progress::after{
  content: '';
  width: 100%;
  height: 5px;
  background:green;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: anim 5s linear forwards;
}
@keyframes anim{
  100%{width: 0;}
}
.box{
  position: relative;
}
.progress.error::after{
  background-color: red;
}
.progress.invalid::after{
  background-color: orange;
}