* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  background: rgb(51, 184, 166);
  color: #000000;
  margin-top: 70px;
}
.main{
  background-color: rgb(102, 101, 101);
  width: 300px;
  height: 200px;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
}
.main h1{
  margin-top: 15px;
  font-size: 48px;
}
.control{
  margin-top: 30px;

}
.control button:nth-child(2){
  width: 80px;
  height: 55px;
  background-color: orange;
}
.control button:nth-child(1),.control button:nth-child(3){
  width: 47px;
  height: 38px;
}
.control button{
  margin-left: 5px;
}