*{
  margin: 0;
  padding:0;
  text-transform: capitalize;
  box-sizing: border-box;
  font-family: "Merienda", sans-serif;
}
body{
  background: #001e4d;
}
.app{
  background:#fff ;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}
#answers{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  
}

.btn{
  background:white;
  color: #222;
  border: 1px solid #222;
  margin-top: 10px;
  text-align: left;
  cursor: pointer;
  transition: all 0.5s;
  height: 30px;
  padding:0 10px ;
}
.btn:hover{
  background: #222;
  color: #fff;
}
.next-btn{
  background: #001e4d;
  color: #fff;
  width: 150px;
  margin:  20px auto 0 ;
  border: 0;
  border-radius: 5px;
  height: 40px;
  display: flex; 
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hide{
  display: none;
}
.show{
  display: block;
}