*{
  margin:0;
  padding:0;
  text-transform: capitalize;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body{
  background: #002339;
  color: #fff;
}
.box{
  width: 500px;
  /* background-color: aqua; */
  text-align: start;
  line-height: 5;
}
.inputBox{
  height: 60px;
  font-size: 18px;
}
.relBox{
  position: relative;
}
.relImg{
  position: absolute;
  top: 5px;
  right: 0;
  cursor: pointer;
}
.flashImg{
  width: 40px;
  /* height: 30px; */
}
