* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  background: rgb(60, 77, 177);
  color: #000000;
  margin-top: 70px;
  background-color: blue;
}

.main {
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 5px;

}

.main input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
}

.main img {
  position: absolute;
  top: 10px;
  right: 5px;
  cursor: pointer;
  width: 30px;
}

.main img:hover {
  opacity: 0.7;
}