* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  background: rgb(60, 77, 177);
  color: #000000;
  margin-top: 70px;
}
#mymodal{
  position: relative;
}

.box{
  width: 300px;
  background-color: rgb(223, 223, 223);
  padding: 20px;
  text-align: center;
  margin-top: 30%;
  border-radius: 5px;
}
.img{
  position: absolute;
  top: 25%;
  left: 45%;
  border-radius: 50%;
  width: 70px;
}
.btnOk{
  width: 100%;
  cursor: pointer;
  /* opacity: 0.8; */
}